:host {
    flex-basis: 100%;
}

.myShoppingWrapper {
    display: flex;
    flex-direction: column;
    font-family: var(--fontWorkSans);
}


.myShoppingWrapper__menu {
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1.5rem;
    background-color: var(--colorBlack);
}

.myShoppingWrapper__menuTitle {
    color: var(--colorWhite);
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

.myShoppingWrapper__menuItem {
	font-size: 0.9rem;
	font-weight: 700;
    color: var(--colorWhite);
	letter-spacing: 1.2px;
	text-transform: uppercase;
    border: none;
    background: none;
}

.myShoppingWrapper__menuItem:hover {
    color: var(--colorSpringGreen);
}

.myShoppingWrapper__menuItem--active {
    border: 1px solid var(--colorSpringGreen);
    color: var(--colorSpringGreen);
    border-radius: 5px;
}

.noItemToDisplay {
	display: flex;
	justify-content: center;
	flex-basis: 100%;
	font-weight: 600;
	font-size: 1.3rem;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.flex-table img {
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.flex-table {
	display: flex;
	flex-direction: column;
}
.flex-table thead {
	color: var(--colorBlack);
	border-bottom: 3px solid var(--colorBlack);
	text-transform: uppercase;
	font-weight: 800;
}
.flex-table thead tr,
.flex-table tbody tr {
	display: flex;
	align-items: center;
	font-weight: 700;
}
.flex-table tbody tr + tr {
	/* border-top: 1px solid #ccc; */
}
.flex-table thead tr th,
.flex-table tbody tr td {
	display: flex;
	flex: 1;
	padding: 0.5em;
}
@media screen and (max-width: 640px) {
	.flex-table {
		border: 0;
	}
	.flex-table thead {
		display: none;
	}
	.flex-table tbody tr {
		flex-direction: column;
		margin: 1em;
		border: 1px solid #ccc;
	}
	.flex-table tbody tr td {
		flex-direction: column;
	}
	.flex-table tbody tr td + td {
		border-top: 1px solid #ccc;
	}
	.flex-table tbody tr td:before {
		display: flex;
		align-items: center;
		margin: -0.5em -0.5em 0.75em -0.5em;
		padding: 0.5em;
		content: attr(data-label);
		color: var(--colorBlack);
		background: var(--colorSpringGreen);
		text-transform: uppercase;
		font-weight: 800;
	}
}